<div class="container-fluid p-2">
  <div class="row m-2">
    <div class="col-md-8 d-none d-sm-block d-sm-none d-md-block">
      <div class="row text-center m-2">
        <h1>Buscar Transaccion</h1>
        <div class="col display-6">
          <label for="Select" class="form-label">Origen</label>
          <select class="form-select" name="buascarOrigen" [(ngModel)]="origen">
            <option value="ARS">Pesos Argentinos</option>
            <option value="USD">Dolares (EEUU)</option>
            <option value="BRL">Reales (BRL)</option>
            <option value="GBP">Libra Esterlina (UK)</option>
          </select>
        </div>
        <div class="col display-6">
          <label for="Select" class="form-label">Destino</label>
          <select
            class="form-select"
            name="buascarDestinos"
            [(ngModel)]="destino"
          >
            <option value="ARS">Pesos Argentinos</option>
            <option value="USD">Dolares (EEUU)</option>
            <option value="BRL">Reales (BRL)</option>
            <option value="GBP">Libra Esterlina (UK)</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-lg btn-warning m-2"
            (click)="traerOperaciones()"
          >
            Buscar Todos
          </button>
        </div>
        <div class="col d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-lg btn-warning m-2"
            (click)="traerOperacionesFiltro()"
          >
            Buscar Filtro
          </button>
        </div>
      </div>
      <header class="page-b-h">Convertidor de divisas</header>
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">Moneda-O</th>
            <th scope="col">Cantidad-O</th>
            <th scope="col">Moneda-D</th>
            <th scope="col">Cantidad-D</th>
            <th scope="col">E-mail</th>
            <th scope="col">Conversion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of busqueda">
            <td>{{ x.monedaOrigen }}</td>
            <td>{{ x.cantidadOrigen }}</td>
            <td>{{ x.monedaDestino }}</td>
            <td>{{ x.cantidadDestino }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.tasaConversion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-12">
      <header class="page-b-h2">Convertidor de divisas</header>
      <form>
        <fieldset class="p-3">
          <div class="mb-3">
            <label for="TextInput" class="form-label" style="color: white"
              >Email</label
            >
            <input
              type="email"
              class="form-control"
              placeholder="@Correo electronico"
              name="email"
              [(ngModel)]="trasaccion.email"
            />
          </div>
          <div class="mb-3">
            <label for="Select" class="form-label" style="color: white"
              >De</label
            >
            <select
              class="form-select"
              name="origen"
              [(ngModel)]="trasaccion.monedaOrigen"
            >
              <option value="ARS">Pesos Argentinos</option>
              <option value="USD">Dolares (EEUU)</option>
              <option value="BRL">Reales (BRL)</option>
              <option value="GBP">Libra Esterlina (UK)</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="TextInput" class="form-label" style="color: white"
              >Cantidad</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Cantidad"
              name="cantidad"
              [(ngModel)]="trasaccion.cantidadOrigen"
            />
          </div>
          <div class="mb-3">
            <label for="disabledSelect" class="form-label" style="color: white"
              >A</label
            >
            <select
              class="form-select"
              name="destino"
              [(ngModel)]="trasaccion.monedaDestino"
            >
              <option value="ARS">Pesos Argentinos</option>
              <option value="USD">Dolares (EEUU)</option>
              <option value="BRL">Reales (BRL)</option>
              <option value="GBP">Libra Esterlina (UK)</option>
            </select>
          </div>
          <div class="mb-3">
            <label
              for="disabledTextInput"
              class="form-label"
              style="color: white"
              >Total</label
            >
            <input
              type="text"
              class="form-control"
              name="total"
              [(ngModel)]="trasaccion.cantidadDestino"
            />
          </div>
          <div class="d-grid">
            <button
              type="button"
              class="btn btn-lg btn-secondary"
              (click)="
                intercambio(
                  trasaccion.monedaOrigen,
                  trasaccion.monedaDestino,
                  trasaccion.cantidadOrigen
                )
              "
            >
              Previsualizar
            </button>

            <button
              type="button"
              class="btn btn-lg btn-warning mt-3"
              (click)="nuevaOperacion()"
            >
              Guardar operacion
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
